body {
  text-align: center;
}

.data {
  opacity: 0.3;
}

.opaque {
  opacity: 0.3
}

/* NAVBAR */
.navHeading {
  font-weight: bolder;
  font-size: 2.5rem;
}

.navText {
  color: #ffd56b;
}

/*
POPUP */
.popUpImg {
  height: 25%;
  width: 35%;
}

.popHead {
  font-family: 'Oswald', sans-serif;
  color: #1687a7;
  font-weight: bolder;
}

.popText {
  font-weight: bolder;
}

.popup {
  background-color: #aee1e1;
}

/* HEADING */
.heading {
  font-weight: bolder;
  padding-bottom: 12rem;
  padding-top: 6rem;
  text-align: center;
  color: white;
  background-image: url(images/HeadingImg.jpg )
}

.headingText {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
}

.title {
  font-size: 3rem;
  font-weight: bolder;
  color: green;
}

/* FEATURES */
.features {
  padding-top: 3rem;
}

.featureImg {
  color: #f25287;
}

.featureHeading {
  font-size: 3rem;
  font-weight: bolder;
}

.featureData {
  font-size: 1.2rem;
  color: grey;
}

/* CONTRIBUTIONS */
.contribution {
  background-image: url(images/contributionImg.jpg);
}

.contriData {
  padding: 0.4rem 0;
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Shippori Mincho', serif;
}

.contriButton {
  padding: 2rem 3rem;
  margin: 5rem 0;
}

/* TESTIMONIALS */
.Testimonials {
  background-image: url(https://media0.giphy.com/media/U3qYN8S0j3bpK/giphy.webp?cid=ecf05e47mw33skujs15n6hch1evyt1f9vlr88q1gwnyq471k&rid=giphy.webp);
}

.testiImgl {
  margin: 0;
  height: 50%;
  width: 70%;
}

.testiImg3 {
  margin: 1rem 0;
  height: 40%;
  width: 60%;
  border-radius: 100%;
  margin-top: 1rem;
}

.testiImg2 {
  border-radius: 100%;
  height: 90%;
  width: 80%;
  margin: 3.2rem 0;
}

/*
DESCRIPTION */
.desription {
  background-color: #bbf1fa;
}

.dots {
  border-style: dotted;
  border-width: 8px;
  border-color: grey;
  height: 4px;
  width: 10%;
  margin-bottom: 30px;
}

.descripData {
  font-size: 1.4rem;
  font-stretch: expanded;
  word-spacing: 0.2rem;
}

.descripHead {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  color: purple
}

.descripImg {
  height: 90%;
  width: 50%;
}

/* DONATE */
.donateHead {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 2.7rem;
  color: purple;
  font-family: 'Lora', serif;
  word-spacing: 0.3rem;
}

.DonateImg {
  background-image: url(https://media3.giphy.com/media/eWdS9hpdeccG4/200w.webp?cid=ecf05e47xuawr8qhrcjjgov4kytqhlqudqn1jvzepf1ehdw3&rid=200w.webp);
}

.donateButton {
  padding: 1rem 3rem;
  margin: 2.5rem 0;
}

/* END */
.endImg {
  height: 30%;
  width: 35%;
}

.end {
  background-image: url(https://media3.giphy.com/media/1Tz1pbJTQQg12/giphy.gif?cid=ecf05e47uy3yym7yaxtqaypmw62qsv76mrymlpb3i4meojrs&rid=giphy.gif);
}

/* FOOTER */
.footer {
  color: white;
  background-color: black
}
